:root {
  --color-bg: #FBF8CF;
  --color-pastelblue: #A0C4FF;
  --color-pastelpurple: #BDB2FF;
  --color-pastelred: #FF3B62;
  --color-pastelgreen: #94D7A2;
  --color-darkblue: #293264;
  --color-bg-gradient: linear-gradient(#2A2539, #291057, #2A2539);
  --color-blue: #4361EE;
  --color-neonblue: #72EFDD;
  --color-neonpink: #B5179E;
  --color-neongreen: #24D24D;
}
